# Installation Instructions:
# To install the required dependencies for this project, run:
# pip install -r requirements.txt

streamlit
requests
pandas
matplotlib
pyttsx3
plotly
datetime
textblob
transformers
pythoncom
